.NavBar {
  text-align: left;
  font-weight: bold;
  background-color: white;
}
.nav-link.active {
  font-weight: bold;
  color: #033785;
}

/* .nav-link {
  text-decoration: none;
  color: white;
} */
